.btn-voltar {
    display: inline-block;
    margin: 20px;
    padding: 10px 18px;
    background-color: #465eff;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: #0022ff;
}

